<p *ngIf="!(movie$ | async)"><em>Loading...</em></p>
<div *ngIf="(movie$ | async) as movie">
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">{{movie.Title}}</h1>
      <p class="lead my-3">{{movie.Overview}}</p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary">{{movie.Rating}}/<small>10</small></strong>
          <h3 class="mb-0">
            <span class="text-dark">{{movie.Title}}</span>
          </h3>
          <div class="mb-1 text-muted">{{movie.Release}}</div>
          <p class="card-text mb-auto">Popularity: {{movie.Popularity}}</p>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" data-src="http://image.tmdb.org/t/p/w185/{{movie.Poster}}" alt="Thumbnail [200x250]" style="width: 300px; height: 480px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1701e489317%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1701e489317%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1953125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="getEmbedUrl(movie)"></iframe>
          </div>
        </div>
      </div>
      <div class="float-right">
        <h5 class="float-left">Share trailer: </h5>
        <a href="http://www.facebook.com/sharer.php?u=https://youtu.be/{{movie.Trailer}}" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
        </a>
        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://youtu.be/{{movie.Trailer}}" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
        </a>
      </div>
    </div>
  </div>
</div>
